body {
  background-color: lightskyblue;
  color: purple;
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: orange;
  font-family: 'Times New Roman', serif;
}

h2 {
  color: brown;
  font-family: 'Helvetica';
}
